* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px; 
    display: block flex;
    text-align: justify;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}